.introduction {
  @include flex;
  min-height: 324px;
  background-color: $header-bg-color;
  border-bottom: 1px solid #e2e2e2;
}

.introduction__wrapper {
  width: 43.3%;
  max-width: 720px;
  margin-left: auto;
  padding-top: 53px;
  padding-left: 140px;
}

.introduction__title {
  @include font(44, 46, $medium);
  width: 53.5%;
  max-width: 310px;
  padding-bottom: 15px;
  font-family: $geomanist;
  color: $text-color;
}

.introduction__description {
  width: 79.5%;
  max-width: 460px;
}

.introduction__image {
  width: 50%;
  height: auto;
}

