.popup-success {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  flex-direction: column;
  width: 547px;
  min-height: 517px;
  margin-left: auto;
  margin-right: auto;
  padding: 28px 20px 41px 25px;
  color: $text-color;
  background-color: $text-white;
  border-radius: 3px;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.49);
}

.popup-success__wrapper {
  @include flex(row, center);
  justify-content: space-between;
  padding-bottom: 23px;
  border-bottom: 1px solid #e2e2e2;
}

.popup-success__title {
  @include font(28, 24);
  font-family: $actor;
}

.popup-success__button--close {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;

  &::before,
  &::after {
    @include pseudo;
    background-color: #e2e2e2;
    width: 30px;
    height: 6px;
    border-radius: 5px;
  }

  &::before {
    top: 11px;
    left: 1px;
    transform: rotate(45deg);
  }

  &::after {
    top: 11px;
    left: 1px;
    transform: rotate(-45deg);
  }

  // &:hover
  &:hover::before,
  &:hover::after {
    background-color: $text-black;
  }

  // &:active
  &:active::before,
  &:active::after {
    background-color: rgba($text-black, 0.7);
  }
}

.popup-success__image-wrapper {
  @include flex(row, flex-start);
  justify-content: space-between;
  width: 378px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding-top: 27px;
}

.popup-success__image {
  margin-right: 23px;
}

.popup-success__subtitle {
  @include font(22, 24);
  font-family: $actor;
}

.popup-success__description {
  width: 443px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 9px;
  color: $text-black;

  &--price {
    @include font(20, 26);
    width: 242px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    color: $form-bg-color;
  }
}

.popup-success__list {
  margin-bottom: 30px;
  padding-left: 42px;
  padding-right: 42px;
}

.popup-success__item {
  display: none;

  &--total {
    @include font(17, 26, $semibold);
    display: block;
    color: $text-black;
  }
}

.popup-success__form {
  @include flex(row, center);
  justify-content: space-between;
  width: 424px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.popup-success__form input {
  @include font(14, 18);
  @include flex(row, center);
  width: 243px;
  height: 55px;
  padding-left: 6px;
  color: $text-black;
  border: 1px solid $placeholder-color;
  border-radius: 3px;

  &::placeholder {
    color: #666666;
  }
}

.popup-success__form .popup-success__button {
  @include font(20, 22, $medium);
  font-family: $geomanist;
  width: 144px;
  min-height: 48px;
  color: $text-white;
  background-color: $form-bg-color;
  border: none;
  border-radius: 3px;

  // &:hover
  &:hover {
    background-color: #0a5c7d;
  }

  // &:active
  &:active {
    background-color: #51bae4;
  }
}
