//- index.pug
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Final project
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    meta(name="theme-color" content="#abafe6")
    link(href="css/style.min.css" rel="stylesheet")
    link(href="/fonts/Montserrat-Light.woff2" as="font" rel="preload" crossorigin="anonymous")
    link(href="/fonts/Montserrat-Regular.woff2" as="font" rel="preload" crossorigin="anonymous")
    link(href="/fonts/Montserrat-Bold.woff2" as="font" rel="preload" crossorigin="anonymous")
    script
      // Picture element HTML5 shiv
      document.createElement("picture")


  body.main-page

    main.main

      section.blog
        .container

          h1.blog__title.title Blog
          
          ul.blog__list.row

    template#user 
      li.blog__item.col-4 
        a.blog__link(href="#") 
          arcticle.blog__content 
            img.blog__avatar(src="img/user-1.png" alt="Иконка юзера") 
            p.blog__user-name Naruto Uzumaki

    script(src="js/backend.js")
    script(src="js/users.js")
    script(src="js/main.js")
    //- script(src='js/all.js')
