$font-crimson: "Crimson Text", "Times New Roman", serif;
$font-montserrat: "Montserrat", "Arial", sans-serif;
$font-normal: 400;
$font-black: 900;
$style-normal: normal;
$style-italic: italic;
$body-font-size: 14px;
$body-line-height: 24px;
$link-hover: #ff8b00;
$link-active: rgba(#ff8b00, 0.6);
$text-color: #343e5c;
$nav-color: #b9bed1;
$search-placeholder-color: #b9bfd3;
$sort-color: #a1a8bd;
$slider-bg: #1c1e23;
$slider-button-color: #2754eb;
$footer-bg: #222328;
$text-white: white;
$text-black: black;
// $mobile-width: 320px;
// $tablet-width: 660px;
// $desktop-width: 960px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
