.category-list {
  @include flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 518px;
}

.category-list__item {
  padding-right: 29px;
}

.category-list__link {
  @include link(none, $nav-color);
  font-size: $body-font-size - 3px;
  line-height: $body-line-height - 3px;
  text-transform: uppercase;
  letter-spacing: 0.7px;

  &--active {
    color: $text-color;
  }
}

// *:hover
.category-list__item:hover .category-list__link {
  color: $text-black;

  &--active {
    color: $text-color;
  }
}

// *:active
.category-list__item:active .category-list__link {
  color: rgba($text-black, 0.7);

  &--active {
    color: $text-color;
  }
}
