.company-list {
  @include flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 570px;
  padding: 0 13px 0 42px;
}

.company-list__item {
  padding-right: 25px;
}

.company-list__link {
  @include link(none, $text-color);
}

// *:hover
.company-list__item:hover .company-list__link {
  color: rgba($text-black, 0.7);
}

// *:active
.company-list__item:active .company-list__link {
  color: rgba($text-black, 0.5);
}
