.main__inner-wrapper {
  padding-top: 50px;
  padding-bottom: 51px;
  background-color: $main-bg;

  &--container {
    @include flex;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
  }
}

