.slider {
  min-height: 500px;
  color: $text-white;
  background-color: $slider-bg;
  box-sizing: border-box;
}

.slider .site-wrapper {
  @include flex(flex, column);
  position: relative;
  overflow: hidden;
}

.slider__content-list {
  @include list;
  @include flex;
  width: 400%;
  min-height: inherit;
  box-sizing: border-box;
}

.slider__content-item {
  @include flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  box-sizing: border-box;
}

.slider__content-wrapper {
  width: 475px;
  margin-top: 99px;
  margin-left: 96px;
  box-sizing: border-box;
}

.slider__content-title {
  font-size: $body-font-size + 26px;
  line-height: $body-line-height + 26px;
  font-weight: $font-black;
  width: 330px;
  margin: 0;
  margin-bottom: 19px;
}

.slider__content-description {
  font-family: $font-crimson;
  font-size: $body-font-size + 2px;
  font-weight: $font-regular;
  margin-left: 1px;
  margin-bottom: 62px;
  word-spacing: 4.1px;
}

.slider__content-link {
  @include link;
  @include flex;
  justify-content: center;
  align-items: center;
  font-size: $body-font-size - 3px;
  line-height: $body-line-height - 3px;
  width: 165px;
  min-height: 42px;
  margin-left: 1px;
  margin-bottom: 106px;
  background-color: $slider-button-color;
  border-radius: 21px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.slider__image {
  margin: -68px 196px -307px 0;
}

.slider__button-list {
  @include list;
  @include flex;
  justify-content: space-between;
  position: absolute;
  bottom: 14px;
  left: 50%;
  width: 56px;
  transform: translate(-50%);
  box-sizing: border-box;
}

.slider__button-item input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.slider__button-item input + label {
  display: inline-block;
  vertical-align: top;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 2px solid rgba($text-white, 0.5);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}

.slider__button-item input:checked + label {
  background-color: $text-white;
}

.slider__button {
  position: absolute;
  top: 46%;
  width: 42px;
  height: 42px;
  background-color: transparent;
  border: 2px solid rgba($text-white, 0.2);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;

  &::before {
    @include background;
    @include pseudo;
    top: 15px;
    width: 10px;
    height: 6px;
    background-image: url("../img/svg/slider-arrow.svg");
  }

  &--left {
    left: 2.5%;

    &::before {
      right: 15px;
      transform: rotate(90deg);
    }
  }

  &--right {
    right: 4.4%;

    &::before {
      left: 15px;
      transform: rotate(-90deg);
    }
  }
}
