@mixin font-face($font-name, $file-name, $weight: 400, $style: normal) {
  @font-face {
    font-family: $font-name;
    src: url($file-name + ".woff2") format("woff2"),
      url($file-name + ".woff") format("woff");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@include font-face("Source Sans Pro", "../fonts/SourceSansPro-Regular");
@include font-face("Source Sans Pro", "../fonts/SourceSansPro-SemiBold", 600);
@include font-face("Actor", "../fonts/Actor-Regular");
@include font-face("Geomanist", "../fonts/Geomanist-Medium", 500);
