//- index.pug
doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title One World Observator
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    link(href="css/style.min.css" rel="stylesheet")
    link(href="/fonts/SourceSansPro-Regular.woff2" as="font" rel="preload" crossorigin="anonymous")
    link(href="/fonts/SourceSansPro-SemiBold.woff2" as="font" rel="preload" crossorigin="anonymous")
    link(href="/fonts/Actor-Regular.woff2" as="font" rel="preload" crossorigin="anonymous")
    link(href="/fonts/Geomanist-Medium.woff2" as="font" rel="preload" crossorigin="anonymous")
    script
      // Picture element HTML5 shiv
      document.createElement("picture")
    script(src="js/picturefill.min.js" async)

  body.main-page

    //- Declaration
    mixin list(title, description, index)
      li.museums__item
        article.museums__article
          a.museums__link(href="#")
            h3.museums__title= title
          p.museums__description= description
          a.museums__link(href="#")
            picture
              source(type="image/webp" media="(min-width: 960px)" srcset="img/museum-desktop-" + index + ".webp 1x, img/museum-desktop-" + index + ".webp 2x")
              source(media="(min-width: 960px)" srcset="img/museum-desktop-" + index + ".jpg, img/museum-desktop-" + index + "@2x.jpg 2x")
              source(type="image/webp" media="(min-width: 768px)" srcset="img/museum-tablet-" + index + ".webp 1x, img/museum-tablet-" + index + ".webp 2x")
              source(media="(min-width: 768px)" srcset="img/museum-tablet-" + index + ".jpg, img/museum-tablet-" + index + "@2x.jpg 2x")
              source(type="image/webp" srcset="img/museum-" + index + ".webp 1x, img/museum-" + index + ".webp 2x")
              img.museums__image(src="img/museum-" + index + ".jpg", alt= title)
          .museums__input-wrapper
            input(type="checkbox" name="favorites-" + index id="favorites-" + index)
            label(for="favorites-" + index)
              span.visually-hidden Add to favorites

    //- Declaration
    mixin filter(title, id)
      li.filter-mobile__item
        input(type="checkbox" name= id id= id)
        label(for= id)= title

    // Хедер
    header.main-header

    // Осн.часть
    main.main

    script(src='js/all.min.js')
