.main-footer {
  min-height: 50px;
  padding: 20px 0;
  margin-top: 40px;
  background-color: $footer-color;
  text-align: center;
}

@media (min-width: $desktop-width) {
  .main-footer {
    min-height: 50px;
  }
}
