@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Regular.woff2") format("woff2"),
    url("../fonts/SourceSansPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-SemiBold.woff2") format("woff2"),
    url("../fonts/SourceSansPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Actor";
  src: url("../fonts/Actor-Regular.woff2") format("woff2"),
    url("../fonts/Actor-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: $font-sanspro;
  font-size: $font-size-mobile;
  line-height: $line-height-mobile;
  font-weight: $font-regular;
  font-style: $style-normal;
  min-width: 320px;
  color: $text-color;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0;

  &--main-title {
    width: calc(280 * 100% / 320);
  }
}

@media (min-width: $width-tablet) {
  body {
    font-size: $font-size-tablet;
    line-height: $line-height-tablet;
    min-width: $width-tablet;
  }

  .site-wrapper {
    width: 706px;

    &--main-title {
      width: calc(708 * 100% / 768);
    }
  }
}

@media (min-width: $width-desktop) {
  body {
    font-size: $font-size-desktop;
    line-height: $line-height-desktop;
    min-width: 1440px;
  }

  .site-wrapper {
    width: 1388px;

    &--main-title {
      width: calc(1388 * 100% / 1440);
    }
  }
}
