@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Regular.woff2") format("woff2"),
    url("../fonts/SourceSansPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-SemiBold.woff2") format("woff2"),
    url("../fonts/SourceSansPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Actor";
  src: url("../fonts/Actor-Regular.woff2") format("woff2"),
    url("../fonts/Actor-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: $font-sanspro;
  font-size: $body-font-size;
  line-height: $body-line-height;
  font-weight: $font-regular;
  font-style: $style-normal;
  min-width: 320px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-wrapper {
  width: 300px;
  margin: 0 auto;
  padding: 0;
}
