.breadcrumbs {
  padding-top: 7px;
}

.breadcrumbs .site-wrapper {
  width: calc(280 * 100% / 320);
}

.breadcrumbs__list {
  @include flex;
  flex-wrap: wrap;
  width: 280px;
}

.breadcrumbs__item {
  position: relative;
  padding-right: 18px;

  &::before,
  &::after {
    @include pseudo;
    width: 5px;
    height: 1px;
    background-color: #e25d5a;
  }

  &::before {
    top: 8px;
    right: 8px;
    transform: rotate(17deg);
  }

  &::after {
    top: 10px;
    right: 8px;
    transform: rotate(-17deg);
  }

  &:last-child {
    &::before,
    &::after {
      content: none;
    }
  }
}

.breadcrumbs__link {
  @include link(none, $text-color);
  font-size: $font12;
  line-height: $font16;
}

@media (min-width: $width-tablet) {
  .breadcrumbs .site-wrapper {
    width: calc(708 * 100% / 768);
  }

  .breadcrumbs__item {
    padding-right: 19px;
  }

  .breadcrumbs__link {
    font-size: $font13;
  }
}

@media (min-width: $width-desktop) {
  .breadcrumbs {
    max-width: 1700px;
    padding-top: 4px;
    margin: 0 auto;
  }

  .breadcrumbs .site-wrapper {
    width: calc(1382 * 100% / 1440);
  }

  .breadcrumbs__item {
    padding-right: 20px;

    &::before {
      top: 12px;
      right: 9px;
    }

    &::after {
      top: 14px;
      right: 9px;
    }
  }

  .breadcrumbs__link {
    font-size: $font14;
  }
}

// &:hover
.breadcrumbs__link:hover {
  color: lightcoral;
}

.breadcrumbs__link--active:hover {
  color: $text-color;
}

// &:active
.breadcrumbs__link:active {
  color: rgba(lightcoral, 0.7);
}

.breadcrumbs__link--active:active {
  color: $text-color;
}
