.main-navigation__wrapper .site-wrapper,
.main-navigation__button-wrapper,
.main-navigation__user-wrapper {
  @include flex;
  align-items: center;
}

.main-navigation__wrapper .site-wrapper {
  width: calc(300 * 100% / 320);
  min-height: 48px;
  padding-left: 5px;
  padding-right: 2px;
}

.main-navigation__wrapper .site-wrapper,
.main-navigation__button-wrapper {
  justify-content: space-between;
}

.main-navigation__button-wrapper {
  width: 94px;
  min-height: inherit;
  padding-bottom: 1px;
}

.main-navigation__user-wrapper {
  width: calc(152 * 100% / 300);
  min-height: inherit;
}

.main-navigation__button {
  position: relative;
  width: 21px;
  height: 17px;
  background-color: transparent;
  border: none;
  border-top: 3px solid $text-white;
  border-bottom: 3px solid $text-white;

  &::before {
    @include pseudo;
    top: 4px;
    left: 0;
    width: 21px;
    height: 3px;
    background-color: $text-white;
  }

  &--search {
    @include pseudo;
    @include background;
    width: 20px;
    height: 24px;
    background-color: transparent;
    background-image: url("../img/svg/search.svg");
    border: none;

    &::before {
      content: none;
    }
  }
}

.main-navigation__form {
  display: none;
}

.main-navigation__list {
  @include flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: inherit;
  padding-top: 4px;
}

.main-navigation__item {
  justify-content: flex-end;
  align-items: center;
  display: none;
  width: 48px;
  min-height: 24px;

  &--mobile {
    display: flex;
    padding-left: 14px;
  }
}

.main-navigation__link {
  display: block;
  position: relative;
  width: 20px;
  height: 24px;

  & > span {
    display: none;
  }

  &--question,
  &--favorites,
  &--cart,
  &--user {
    @include pseudo;
    @include background;
  }

  &--question {
    background-image: url("../img/svg/question.svg");
  }

  &--user {
    background-image: url("../img/svg/user.svg");
  }
}

.main-navigation__wrapper--hiiden .main-navigation__list {
  width: 100%;
}

.main-navigation__wrapper--hiiden .main-navigation__item {
  display: block;
  width: 100%;
  min-height: 35px;
  padding-left: 0;
  padding-right: 0;
  text-transform: uppercase;
  box-shadow: 0 1px $text-white;

  &:first-child {
    box-shadow: 0 -1px $text-white,
                0 1px $text-white;
  }
}

.main-navigation__wrapper--hiiden .main-navigation__link {
  @include link;
  @include flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size-nav;
  line-height: $line-height-nav;
  font-weight: $font-semibold;
  width: inherit;
  min-height: inherit;
}

//  стили для js гл.меню
.main-navigation--opened .main-navigation__button-wrapper .main-navigation__button {
  border: none;

  &::before,
  &::after {
    @include pseudo;
    top: 8px;
    width: 20px;
    height: 2px;
    background-color: $text-white;
  }

  &::before {
    transform: rotate(45deg);
    left: 0;
  }

  &::after {
    transform: rotate(135deg);
    right: 0;
  }
}

.main-navigation--opened,
.main-navigation--nojs {
  position: relative;
  min-height: 200px;
  z-index: 1;
}

.main-navigation--closed .main-navigation__wrapper--hiiden {
  display: none;
}

.main-navigation--nojs .main-navigation__wrapper--hiiden {
  display: block;
}

.main-navigation--nojs .main-navigation__button {
  display: none;
}

.main-navigation--nojs .main-navigation__button--search {
  display: block;
}

@media (min-width: $width-tablet) {
  .main-navigation,
  .main-navigation__wrapper,
  .main-navigation__wrapper .site-wrapper {
    min-height: inherit;
  }

  .main-navigation__wrapper .site-wrapper {
    width: 100%;
    padding-left: 24px;
    padding-right: 22px;
  }

  .main-navigation__button-wrapper {
    width: 129px;
    padding-top: 3px;
  }

  .main-navigation__button {
    width: 26px;
    height: 21px;
    border-top-width: 4px;
    border-bottom-width: 4px;

    &::before {
      top: 4px;
      left: 0;
      width: 26px;
      height: 4px;
    }
  }

  .main-navigation__logo {
    width: 73px;
    height: 51px;
  }

  .main-navigation__user-wrapper {
    justify-content: space-between;
    width: calc(510 * 100% / 706);
  }

  .main-navigation__wrapper--hiiden .main-navigation__item {
    min-height: 45px;
  }

  .main-navigation__form {
    display: block;
    width: calc(295 * 100% / 521);
  }

  .main-navigation__form-wrapper {
    @include flex(flex, row-reverse);
  }

  .main-navigation__form input {
    line-height: $line20;
    width: 88%;
    height: 54px;
    padding-left: 6px;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .main-navigation__form input::placeholder {
    line-height: $line20;
    color: $text-black;
  }

  .main-navigation__form-button {
    position: relative;
    width: 40px;
    height: 54px;
    background-color: $text-white;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    &::before {
      @include pseudo;
      top: 18px;
      left: 15px;
      width: 20px;
      height: 20px;
      background-image: url("../img/svg/search-tablet.svg");
    }
  }

  .main-navigation__list {
    width: calc(178 * 100% / 510);
  }

  .main-navigation__item {
    display: none;

    &--tablet {
      position: relative;
      display: block;
      width: 137px;
      padding-left: 27px;

      &::before {
        @include background;
        @include pseudo;
        top: 0;
        left: 1px;
        background-image: url("../img/svg/user.svg");
        background-size: 20px 22px;
        width: 20px;
        height: 22px;
        transform: scale(0.82);
      }
    }
  }

  .main-navigation__link {
    @include link(none, $text-white);
    line-height: $line20;
    font-weight: $font-semibold;

    &--user {
      background-image: none;
      width: 110px;

      & > span {
        display: block;
        width: inherit;
      }
    }
  }

  //  стили для js гл.меню
  .main-navigation--opened .main-navigation__button-wrapper .main-navigation__button {
    &::before,
    &::after {
      top: 9px;
      width: 23px;
      height: 3px;
    }

    &::before {
      left: 1px;
    }

    &::after {
      right: 1px;
    }
  }
}

@media (min-width: $width-desktop) {
  .main-navigation__item,
  .main-navigation__link,
  .main-navigation__form select {
    display: block;

    & > span {
      display: block;
    }
  }

  .main-navigation__wrapper .site-wrapper {
    padding-right: 5px;
  }

  .main-navigation__button-wrapper {
    width: 140px;
    padding-left: 9px;
    padding-bottom: 4px;
  }

  .main-navigation__button {
    display: none;
  }

  .main-navigation__user-wrapper {
    width: calc(1300 * 100% / 1440);
  }

  .main-navigation__form {
    @include flex;
    justify-content: flex-start;
    position: relative;
    width: calc(534 * 100% / 1300);

    &::before,
    &::after {
      @include pseudo;
      top: 26px;
      width: 8px;
      height: 3px;
      background-color: $text-white;
    }

    &::before {
      right: 16px;
      transform: rotate(45deg);
    }

    &::after {
      right: 12px;
      transform: rotate(-47deg);
    }
  }

  .main-navigation__form-wrapper {
    width: 78%;
  }

  .main-navigation__form input {
    width: 87%;
    padding-left: 3px;
  }

  .main-navigation__form input,
  .main-navigation__form input::placeholder {
    font-size: $font16;
  }

  .main-navigation__form-button {
    width: 43px;
    padding-right: 0;
  }

  .main-navigation__list {
    width: calc(512 * 100% / 1300);
    padding-right: 10px;
    padding-bottom: 7px;
  }

  .main-navigation__item {
    @include flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: calc(90 * 100% / 512);
    padding-left: 20px;
    margin-left: 18px;

    &--tablet {
      width: calc(143 * 100% / 512);
      margin-left: 31px;

      &::before {
        top: 2px;
        left: -1px;
      }
    }

    &--desktop {
      display: none;
    }

    &::before {
      @include background;
      @include pseudo;
    }

    &--question {
      &::before {
        top: 2px;
        left: 14px;
        background-image: url("../img/svg/question.svg");
        background-size: 20px 22px;
        width: 20px;
        height: 22px;
        transform: scale(0.7);
      }
    }
  }

  .main-navigation__link {
    @include flex;
    justify-content: center;
    align-items: center;
    font-size: $font16;
    width: unset;
    background-image: none;
  }

  .main-navigation__form select {
    font-size: $font16;
    line-height: $line20;
    width: 22%;
    padding-bottom: 4px;
    padding-left: 23px;
    color: $text-white;
    background-color: transparent;
    border: none;
    appearance: none;
  }

  .main-navigation__form select option {
    background-color: #0098d7;
  }

  .main-navigation--closed .main-navigation__wrapper--hiiden {
    @include flex;
    justify-content: center;
    min-height: 40px;
    background-color: #0098d7;
  }

  .main-navigation__wrapper--hiiden .main-navigation__list {
    @include flex;
    justify-content: center;
    width: 76%;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .main-navigation__wrapper--hiiden .main-navigation__item {
    width: unset;
    min-height: 40px;
    padding: 0 40px;
    margin-left: 0;
    box-shadow: none;

    &:first-child {
      box-shadow: none;
    }
  }

  .main-navigation__wrapper--hiiden .main-navigation__link {
    padding-bottom: 5px;
  }
}

