.map {
  @include background;
  display: none;
  background-image: url("../img/map-mobile.jpg");
  background-size: cover;
}

@media (min-width: $width-tablet) {
  .map {
    position: sticky;
    top: 87px;
    display: block;
    width: 50%;
    height: 100vh;
    z-index: 2;
  }
}
