.slider {
  position: relative;
  width: 100%;
  min-height: 241px;
  overflow: hidden;
}

.slider__list {
  @include flex;
  width: 300%;
  min-height: inherit;
}

.slider__item {
  @include background;
  width: 100%;
  min-height: inherit;
  background-color: #8c8d91;
  background-image: url("../img/slider-bg-mobile.jpg");
  background-size: cover;
}

.slider__button {
  position: absolute;
  top: 95px;
  width: 50px;
  height: 50px;
  background-color: $btn-slider-color;
  border: none;

  &::before {
    @include pseudo;
    @include background;
    width: 22px;
    height: 26px;
    background-image: url("../img/svg/slider-arrow.svg");
  }

  &--left {
    left: 0%;

    &::before {
      top: 13px;
      left: 16px;
    }
  }

  &--right {
    left: 100%;
    transform: translateX(-100%);

    &::before {
      top: 11px;
      left: 12px;
      transform: rotate(180deg);
    }
  }
}

@media (min-width: $width-tablet) {
  .slider {
    min-height: 339px;
  }

  .slider__item {
    background-image: url("../img/slider-bg-tablet.jpg");
  }

  .slider__button {
    top: 151px;

    &--left {
      left: 45px;
    }

    &--right {
      left: unset;
      right: 45px;
      transform: translateX(0);
    }
  }
}

@media (min-width: $width-desktop) {
  .slider .site-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    width: calc(1352 * 100% / 1440);
    max-width: 1612px;
    transform: translateX(-50%);
  }

  .slider__item {
    min-height: 416px;
    background-image: url("../img/slider-bg-desktop.jpg");
  }

  .slider__button {
    top: 196px;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }
}

// &:hover
.slider__button:hover {
  background-color: $text-black;
}

// &:active
.slider__button:active {
  background-color: $text-black;
}
