// font-family
$montserrat: "Montserrat", "Arial", sans-serif;
// font-weight
$light: 300;
$regular: 400;
$bold: 700;
// font-size && line-height
// desktop
$font-size-desktop: 14;
$line-height-desktop: 25;
// color
// bg
$blog-bg: lightblue;

$text-white: white;
$text-black: black;
